---
name: Sphinx build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Build HTML
        run: |
          uvx --from sphinx --with myst-parser sphinx-build -b html source build/html
      - name: Upload HTML Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: "github-pages"
          path: build/html/
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download HTML Artifact
        uses: actions/download-artifact@v4
        with:
          name: "github-pages"
          path: build/html
      - name: debug
        run: |
          ls -la build/html
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          name: "github-pages"
